
# Created by https://www.gitignore.io/api/html
# Edit at https://www.gitignore.io/?templates=html

#!! ERROR: html is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/html
