/* =========================== Properties of B0dy ============================= */
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
    font-size: 14px;
    background: #273242;
    -webkit-font-smoothing: antialiased;
}

/* ========================= Properties of the MenuBar ========================= */
div.menubar{
    position: static;
    text-align: center;
    background: #52647a;
    margin-top: 120px;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    padding: 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #52647a;
}

li{
    float: left;
    border-left: 1px solid #4c5d72;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #21af8d;
}

h1.header{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration-color: white;
    text-transform: uppercase;
    padding: 12px;
    margin-left: 283px;
}

/*   ========================== Header ====================================   */
div.header{
    position:sticky;
    top: 0;
    display:block
    width: auto;
    height: 50px;
    margin: 5px auto;
    padding: 0px;
    border: 0px;
    background-color: #21af8d;
}


    /* ======================  Properties of Slider ======================= */
    div.Slider{
      z-index: -1;
      width: 60%;
      height: 40%;
      margin: 0 auto;
    }

    h1#slider{
      position: absolute;
      font-family: 'Playfair Display', serif;
      font-family: 'Open Sans Condensed', sans-serif;
      z-index: 0;
      margin-left: 40px;
      color: #000000;
      margin-top: 120px;
    }


/* ============================ Team Properties ============================= */
    .team div{
      width: 60%;
      height: auto;
      margin: 0 auto;
      padding: 15px 0px;
      background: #38475a;
      display: block;
    }

.team-title h3 {
      font-size: 28px;
      line-height: 26px;
      color: #21af8d;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
}

.team-title p {
      font-size: 16px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #ffffff;
      line-height: 26px;
      text-align: center;
      opacity: 0px;
      margin-top: -20px;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
}

/* ========================== Team photo1 properties =========================*/
  .perso1 div{
      position:static;
      padding: 0px 35px;
      margin: 10px auto;
      margin-top: -3px;
      margin-left: 30px;
      min-height: 1px;
      float: left;
      width: 160px;
}

  .perso1 img{
      width: 100%;
      height: auto;
      margin-top: 0px;
      vertical-align: baseline;
      display: block;
      align-items: center;
  }
    .perso1 h3{
      text-align: center;
      color: #ffffff;
    }

    .perso1 p{
      text-align: center;
      color: #ffffff;
      font-family: verdana;
      font-size: 12px;
      margin-top: -10px;
    }

    /* =================== Team photo2 properties ==================== */

      .perso2 div{
        position:static;
        padding: 0px 35px;
        margin: 10px auto;
        margin-top: -30px;
        min-height: 1px;
        float:none;
        width: 160px;
    }

      .perso2 img{
        width: 100%;
        height: auto;
        margin-top: 0px;
        vertical-align: baseline;
        align-items: center;
        display: block;
      }

        .perso2 h3{
          text-align: center;
          color: #ffffff;
        }

        .perso2 p{
          text-align: center;
          color: #ffffff;
          font-family: verdana;
          font-size: 12px;
          margin-top: -10px;
        }

        /* =================== Team photo3 properties ==================== */

          .perso3 div{
            position:static;
            padding: 0px 35px;
            margin: 10px auto;
            margin-top: -270px;
            margin-right: 30px;
            min-height: 1px;
            float: right;
            width: 160px;
        }

          .perso3 img{
            width: 100%;
            height: auto;
            margin-top: 0px;
            vertical-align: baseline;
            align-items: center;
            display: block;
          }
            .perso3 h3{
              text-align: center;
              color: #ffffff;
            }

            .perso3 p{
              text-align: center;
              color: #ffffff;
              font-family: verdana;
              font-size: 12px;
              margin-top: -10px;
            }

/* ============================== Testimos ================================= */

        div.testimo{
          width: 60%;
          height: auto;
          margin: 0px auto;
          padding: 160px 0px;
          background: #ffffff;
        }

        div.testcontents{
          height: 270px;
          width: 260px;
          margin: 10px;
          float: left;
          padding-left: 15px;
          margin-top: -60px;
        }

        div#testimo1{
          text-align: justify;
        }

        div#testimo2{
          text-align: justify;
        }

        div#testimo3{
          text-align: justify;
        }

        div.contentcats{
        width: 60%;
        height: auto;
        margin: 0px auto;
        padding: 190px 0px;
        background: #38475a;
        }

        div#tete_testcontents{

        }

        /* ============================= Button ============================== */

        .button {
        background-color: #21af8d;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
      }

      .button2 {font-size: 12px;

      }

      .button2:hover:not(.active) {
        background-color: #111;
      }

      .active {
        background-color: #21af8d;
      }

      /* ================================ Footer ============================================= */

      div.footer{
        background-color: #21af8d;
        width: auto;
        height: 300px;
        margin: 10px auto;
      }
